body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(-45deg, #00b5d4, #65eafc, #0ebdf1, #00c0fa);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes card-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes TopToDown {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.image-wrapper {
    margin: auto;
}

.card-wrapper {
    position: relative;
    background: white;
    width: 600px;
    position: absolute;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    animation: card-appear 1.5s ease-in-out;
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.32);
}

.data-wrapper {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    flex: 1;
}

.info {
    font-weight: normal;
    margin-top: 0;
    font-size: 25px;
    display: block;
    opacity: 0;
    animation: TopToDown 1s ease-in;
    animation-fill-mode: forwards;
    max-width: 600px;
}

.info:nth-child(2) {
    animation-delay: 1s;
}

.info:nth-child(3) {
    animation-delay: 2s;
}

.info:nth-child(4) {
    animation-delay: 3s;
}

.contact-wrapper {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.contact {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    font-size: 35px;
    color: white;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}

.contact-wrapper a:nth-child(1) .contact {
    background-color: #3b5998;
}

.contact-wrapper a:nth-child(2) .contact {
    opacity: 0;
    background-color: #0e76a8;
    animation: TopToDown 1s ease-in forwards;
    animation-delay: 4s;
}

.contact-wrapper a:nth-child(3) .contact {
    opacity: 0;
    background-color: #211F1F;
    animation: TopToDown 1s ease-in forwards;
    animation-delay: 5s;
}

.contact-wrapper a:nth-child(4) .contact {
    opacity: 0;
    background-color: #C13584;
    animation: TopToDown 1s ease-in forwards;
    animation-delay: 6s;
}

.contact-wrapper a .contact:hover {
    background-color: white;
    color: black;
}

.android {
    color: black;
    animation: color-change 0.5s linear forwards;
    animation-delay: 1s;
}

@keyframes color-change {
    from {}
    to {
        color: #a4c639;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}